.Test_1{
    position: relative;
    width: 1480px;
    height: 800px;
    background-color: #38B6FF;
    overflow: hidden; 
}

.Flowers_up_test1{
    position: absolute;
    top: 0px;
    left: 897px;
    width: 604px;
    height: 461px;
    z-index: 2;
}

.Flowers_down_test1{
    position: absolute;
    top: 350px;
    left: 0px;
    width: 497px;
    height: 450px;
    z-index: 2;
}

.star{
    position: absolute;
    top: 544px;
    left: 1130.67px;
    width: 251px;
    height: 160px;
    z-index: 2;
}

.cloud_up{
    position: absolute;
    top: 30px;
    left: 99px;
    width: 346px;
    height: 139px;
    z-index: 2;
}

.cloud_down{
    position: absolute;
    top: 61px;
    left: -9px;
    width: 396px;
    height: 193px;
    z-index: 1; 
}

.After_universities {
    position: absolute;
    top: 162px;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    width: 516px; 
    height: 200px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

header, main {
    width: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    max-width: 100%;
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.content {
    margin-bottom: 20px;
    text-align: center;
}

.content img {
    display: inline-block;
    margin: 5px;
}

.footer {
    text-align: center;
}

.footer button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.footer button.correct {
    background-color: green;
}

.footer button.incorrect {
    background-color: red;
}