.Test_3{
    position: relative;
    width: 1480px;
    height: 800px;
    background-color: #38B6FF;
    overflow: hidden; 
}

.CloudB16{
    position: absolute;
    top: 61px;
    left: -9px;
    width: 396px;
    height: 193px;
    z-index: 2;
}

.CloudS16{
    position: absolute;
    top: 30px;
    left: 99px;
    width: 346px;
    height: 139px;
    z-index: 2;
}

.FlowersL16{
    position: absolute;
    top: 350px;
    left: 0px;
    width: 497px;
    height: 450px;
    z-index: 2;
}

.FlowersR16{
    position: absolute;
    top: 0px;
    left: 897px;
    width: 604px;
    height: 461px;
    z-index: 2;
}

.After_universities {
    position: absolute;
    top: 162px;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 36px;
    width: 516px; 
    height: 200px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Yes_2{
    position: absolute;
    /* color: #F29AD0; */
    font-size: 20px;
    top: 500px;
    left: 600px;
    width: 70px;
    height: 50px;
    z-index: 3; 
}

.No_2{
    position: absolute;
    font-size: 20px;
    top: 500px;
    left: 800px;
    width: 70px;
    height: 50px;
    z-index: 3; 
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}


.Stars16{
    position: absolute;
    top: 544px;
    left: 1130.67px;
    width: 251px;
    height: 160px;
    z-index: 2;
}

.text_16{
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-size: 45px;
    width: 729px; 
    height: 196px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
